app.config ['$httpProvider', ($httpProvider) ->
  $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content')
  $httpProvider.defaults.headers.common.Accept = 'application/json'
]

app.config ['localStorageServiceProvider', (localStorageServiceProvider) ->
  localStorageServiceProvider
    .setPrefix('DataTools')
]

app.controller "MainController", [ '$scope', ($scope) ->
  $scope.about = () ->
    sweetAlert
      title: 'About'
      text: '<span style="color:#3498db;">What\'s new on <strong>version 1.1</strong>: <br/><ul><li>Thêm nút Reset</li><li>Trả về Log File (.txt) để DP tự kiểm tra xem Data có bất thường hay không?</li><li>Fix Responsive để chạy trên Mobile</li><li>Cài đặt Errbit tự động bắt và báo lỗi của ứng dụng về cho Web Developer</li><li>Fix một số lỗi nhỏ khác</li></ul></span><br/><span style="color:#3498db;">What\'s new on <strong>version 1.2</strong>: <br/><ul><li>Thêm chức năng lưu cấu hình của Data Tools vào LocalStorage</li></ul></span><br/>
        <span style="color: #9b59b6;">Upcoming Features in version 2.0: <strong>Codelist Tools</strong></span>'
      type: 'info'
      showCancelButton: false
      html: true
    return

  $scope.help = () ->
    sweetAlert
      title: 'Help'
      text: '<span style="color:#3498db;">Intage Vietnam\'s Data Tools - Công cụ xử lý và tổng hợp data dạng CSV của SurveyCraft thành một file Excel hoàn chỉnh, thuận tiện cho việc bộ phận Research xem, kiểm tra và làm báo cáo.</span><br/><span style="color:#e74c3c;"><strong>Được xây dựng và phát triển bởi viphat(at)gmail.com</strong></span>'
      type: 'info'
      showCancelButton: false
      html: true
    return

]
