function about(){
  sweetAlert({
    title: "About",
    text: "Công cụ xử lý và tổng hợp Data CSV - Output của SurveyCraft thành File Excel (Intage Vietnam's Data Tools)<br/><p>Xây dựng bởi Dương Vì Phát</p>",
    type: "info",
    showCancelButton: false,
    html: true
  })
}