/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require startbootstrap-sb-admin-2/dist/css/sb-admin-2
 *= require sweetalert/lib/sweet-alert
 *= require ng-grid/ng-grid.min
 *= require_tree .
 *= require_self
 *=
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);

html, body {
  font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif !important;
}

.sweet-alert p{
  text-align: justify;
}

h1.page-header {
  margin-bottom: 20px;
  /*color: #ecf0f1;*/
  font-size: 28px;
  /*text-align: center;*/
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-text-shadow: 0 0 10px rgba(0,0,0,0.3);
  -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#main-panel a {
  color: inherit;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 99%;
    height: 400px;
}

span.custom-btn, span.csv-link {
  line-height:54px;
  margin-right: 5px;
}
span.custom-btn a, span.csv-link a {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}
span.removeTemplate {
  margin-left: 5px;
  width: 34px;
  margin-top: 3px;
  display: inline-block;
}
.cell {

}
span.custom-btn a:hover, span.csv-link a:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}